.contenedorLibros {
	padding: 0px;
	font-family: Mohr Regular Latinotype;
}
.libro {
	list-style: none;
}
.btn-ini {
  border-radius: 0px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #538ABE;
  border: 0px;
  color: #ffffff;
}
.btn-ini:hover {
	background-color: #787498;
	color: #ffffff;
}